<header class="page-header">
  <nav class="l-side">
    <div class="logo">
      <a href="/index.html">
        <img src="/res/m/static/images/logo.png" alt="Popcoin">
      </a>
    </div>
  </nav>
  <div class="r-side">
    <div class="search">
      <a href="/search.html"><i class="iconfont icon-search"></i></a>
    </div>
    <div class="user log">
      <a href="/login.html">
        <span>
          <i class="iconfont icon-user"></i>
        </span>
      </a>
    </div>
  </div>
</header>