<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>{$seo.title}</title>
  <meta name="keywords" content="{$seo.keyword}">
  <meta name="description" content="{$seo.description}">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="{$Think.CDN_URL}/favicon.ico" type="image/x-icon" />
  <title>关于我们</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    img {
      min-width: 1200px;
    }
  </style>
</head>

<body>
  <img src="/res/pc/static/images/about-1.png" alt="POPCOIN">
  <img src="/res/pc/static/images/about-2.png" alt="POPCOIN">
  <img src="/res/pc/static/images/about-3.png" alt="POPCOIN">
</body>

</html>