<extend name="Base:base" />
<block name="body">
  <div class="deep-page">
    <section class="content">
      <div class="news-container">
          <div class="more">
              <div class="button">加载更多</div>
            </div>
      </div>
    </section>
    <aside class="aside">

      <div class="column coin">
        <div class="header">
          <div class="title">行情</div>
        </div>
        <div class="body">
            <div class="coin-list">
              </div>
        </div>
      </div>
    </aside>
  </div>
</block>

<block name="file">deep</block>
