<extend name="Base:base" />
<block name="body">
  <div class="user-collect-page">
    <div class="page-title">我的收藏</div>
    <div class="press-container">
        <div class="panel"></div>
    </div>
    <div class="collect-none hidden">
      <div>
        <img src="/res/m/static/images/collect-none.png" alt="">
        <div class="tips">
          <span>您还没有收藏的内容哦</span>
        </div>
        <div class="postscript">
          <span>赶快去收藏内容，丰富自己的知识库吧</span>
        </div>
        <div class="button active">
          <a href="/index.html">去逛逛</a>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="file">user-collect</block>