<extend name="Base:base" />
<block name="body">
  <div class="user-concern-page">
    <div class="page-title">我的关注</div>
    <div class="coins-container"></div>
    <div class="collect-none hidden">
      <div>
        <img src="/res/m/static/images/concern-none.png" alt="">
        <div class="tips">
          <span>您还没有收藏的币种哦</span>
        </div>
        <div class="postscript">
          <span>赶快去关注，丰富自己的财富库吧</span>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="file">user-concern</block>