<extend name="Base:base" />
<block name="body">
    <div class="coin-quotation-page">
        <div class="column coin">
            <div class="header">
                <div class="title">行情</div>
            </div>
            <div class="body">
                <div class="coin-list coins-container">
                </div>
                <div class="more">
                    <div class="button">加载更多</div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="file">coin-quotation</block>