<extend name="Base:base" />
<block name="body">
  <div class="find-psw-page">
    <div class="layer form-container login">
      <div class="layer-dialog find-password-dialog">
        <nav>
          <ul class="tabs">
            <li class="tab-item">
              <a href="javascript:void(0)">找回密码</a>
            </li>
            <!-- <div class="hover-line"></div> -->
          </ul>
        </nav>
        <div class="layer-content tabs-content log-content">
          <div class="content-item active" data-tab-1>
            <div class="phone">
              <div class="input">
                <input type="text" class="area-code" value="+86" placeholder="+86" disabled>
                <span class="division"></span>
                <input type="tel" class="phone-number" placeholder="手机号" />
                <div class="tip"></div>
              </div>
            </div>
            <div class="check-code">
              <div class="input">
                <input type="text" placeholder="输入右侧编码">
                <div class="tip"></div>
              </div>
              <span>
                <img src="/tool/verify/wapi/ajax.html" alt="">
              </span>
            </div>
            <div class="verification">
              <div class="input">
                <input type="tel" class="verification-code" placeholder="手机验证码" />
                <div class="tip"></div>
              </div>
              <div class="button main request-button" data-msg-type="find">获取验证码</div>
            </div>
            <div class="button active forward next">下一步</div>
          </div>
          <div class="content-item" data-tab-2>
            <div class="enter-password">
              <div class="form">
                <div class="input">
                  <input type="password" name="enter-password" class="password" placeholder="6~16位，包含字母和数字">
                  <div class="tip"></div>
                </div>
              </div>
            </div>
            <div class="check-password">
              <div class="form">
                <div class="input">
                  <input type="password" name="check-password" placeholder="确认密码">
                  <div class="tip"></div>
                </div>
              </div>
            </div>
            <div class="button active forward finish">完成</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="file">find-psw</block>