<extend name="Base:base" />
<block name="body">
  <div class="press-page" data-tab="{$tab}">
    <nav>
      <ul class="tabs">
        <li class="tab-item <?php if($tab == 'index') echo 'active' ?>" data-tab="[data-tab-1]">
          <a href="/index.html">7x24快讯</a>
        </li>
        <li class="tab-item  <?php if($tab == 'quotations') echo 'active' ?>" data-tab="[data-tab-2]">
          <a href="/quotations.html">行情</a>
        </li>
        <!-- <div class="hover-line"></div> -->
      </ul>
    </nav>
    <div class="tabs-content">
      <div class="content-item  <?php if($tab == 'index') echo 'active' ?>" data-tab-1>
        <div class="press-container" data-min-id="{$fastNewsList.min_id}" data-max-time="{$fastNewsList.max_time}">
          <if condition="!empty($fastNewsList)">
            <foreach name="fastNewsList.dataList" item="newsList">
              <div class="panel" data-date="{$newsList.date}">
                <time>
                  <div class="date">{$newsList.lang_date}</div>
                  <div class="details">{$newsList.date_week}</div>
                </time>
                <foreach name="newsList.news_list" item="news">
                  <if condition="$news.catalog_id eq 200">
                    <article press-carb data-source-id="{$news.news_id}" class="deep-card <?php if($news['recommend_level'] == '10') echo 'picked' ?>">
                      <time>{$news.update_time|date='H:i',###}</time>
                      <div class="article-container">
                        <a href="/news/id_{$news.news_uuid}.html">
                          <div class="main-content" news-crab>
                            <h2 class="title">{$news.title}</h2>
                            <!-- <p class="text">{$news.abstract}</p> -->
                          </div>
                          <if condition="!empty($news['thumb_url'])">
                            <div class="img">
                              <img src="{$news.thumb_url}" alt="{$news.title}" class="article-img">
                            </div>
                          </if>
                        </a>
                        <if condition="!empty($news['video_url'])">
                          <video height="240" controls>
                            <source src="{$news['video_url']}" type="video/mp4">您的浏览器不支持 HTML5 video 标签。
                          </video>
                        </if>
                        <if condition="!empty($news['coins'])">
                          <div class="coin-tags">
                            <foreach name="news['coins']" item="coin">
                              <a href="/coin/code_<?php echo strtolower($coin['code']); ?>.html" data-code="<?php echo strtolower($coin['code']); ?>" class="market-realtime">
                                <span class="coin-code" data-code="{$coin['code']}">{$coin.code}</span>
                                <span class="ratio <?php if($coin['ratio'] > 0) {echo 'good';} else if ($coin['ratio'] < 0) {echo 'bad';}?>">{$coin.ratio}</span>
                              </a>
                            </foreach>
                          </div>
                        </if>
                        <div class="button-container">
                          <div class="button small attitude good" data-attitude="attitude_up" data-type="1">
                            <i class="iconfont icon-up"></i>
                            <span>0</span>
                          </div>
                          <div class="button small attitude bad" data-attitude="attitude_down" date-type="1">
                            <i class="iconfont icon-down"></i>
                            <span>0</span>
                          </div>
                          <div class="button main collect" data-type="1">
                            <i class="iconfont icon-star"></i>
                          </div>
                        </div>
                      </div>
                    </article>
                    <else />
                    <article press-carb="" data-source-id="{$news.news_id}" class="fast-card <?php if($news['recommend_level'] == '10') echo 'picked' ?>">
                      <time>{$news.update_time|date='H:i',###}</time>
                      <div class="article-container">
                        <div class="main-content">
                          <h2>{$news.title}</h2>
                          <div class="article-content">{$news.abstract}
                            <if condition="!empty($news['thumb_url'])">
                              <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                  <a href="{$news.thumb_url}" itemprop="contentUrl" data-size="1024x1024">
                                    <img src="{$news.thumb_url}" itemprop="thumbnail" alt="{$news.title}" />
                                  </a>
                                  <figcaption itemprop="caption description">{$news.title}</figcaption>
                                </figure>
                              </div>
                            </if>
                          </div>
                        </div>
                        <if condition="!empty($news['video_url'])">
                          <video height="240" controls>
                            <source src="{$news['video_url']}" type="video/mp4">您的浏览器不支持 HTML5 video 标签。
                          </video>
                        </if>
                        <if condition="!empty($news['coins'])">
                          <div class="coin-tags">
                            <foreach name="news['coins']" item="coin">
                              <a href="/coin/code_<?php echo strtolower($coin['code']); ?>.html" data-code="<?php echo strtolower($coin['code']); ?>" class="market-realtime">
                                <span class="coin-code" data-code="{$coin['code']}">{$coin.code}</span>
                                <span class="ratio <?php if($coin['ratio'] > 0) {echo 'good';} else if ($coin['ratio'] < 0) {echo 'bad';}?>">{$coin.ratio}</span>
                              </a>
                            </foreach>
                          </div>
                        </if>
                        <div class="button-container">
                          <div class="button small attitude good" data-attitude="attitude_up" data-type="1">
                            <i class="iconfont icon-up"></i>
                            <span>0</span>
                          </div>
                          <div class="button small attitude bad" data-attitude="attitude_down" date-type="1">
                            <i class="iconfont icon-down"></i>
                            <span>0</span>
                          </div>
                          <div class="button main collect" data-type="1">
                            <i class="iconfont icon-star"></i>
                          </div>
                        </div>
                      </div>
                    </article>
                  </if>
                </foreach>
              </div>
            </foreach>
            <div class="loading-page hidden">
              <img src="/res/m/static/images/loading.gif" alt="">
            </div>
            <div class="more">
              <div class="button">加载更多</div>
            </div>
            <else />
            <div class="more">
              <div class="button" disabled>已无更多</div>
            </div>
          </if>
        </div>
      </div>
      <div class="content-item  <?php if($tab == 'quotations') echo 'active' ?>" data-tab-2>
        <div class="coins-container">
        </div>
        <div class="loading-page hidden">
          <img src="/res/m/static/images/loading.gif" alt="">
        </div>
        <div class="more">
          <div class="button">加载更多</div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let pressIds = [];

    <volist name="fastNewsList.newsIds" id="id">
      pressIds.push({$id});
        </volist>

  </script>
</block>

<block name="file">index</block>